################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AST/x64/Debug/AST.tlog/AST.lastbuildstate
